
.color-filter .list-item {
    padding: 10px;
}

.color-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.color-filter .list-item .et-swatch-circle span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    /* border: 2px solid ; */
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .5);

}
