
.info {
    border: 2px solid black;
    padding-left: 5%;
    padding-top: 3%;
    font-family: 'Jost';
    box-shadow: 0 0 5px #555;
    border-radius: 20px;
    width: 35vw;
}

.info:hover{
    box-shadow: 0 0 10px #555;
}

.info .p1 {

    color: #000;
    font-size: 130%;
    font-weight: 601;
    font-family: 'Jost';
    margin-bottom: 6px;
}

.info .p2 {

    font-size: 142%;
    font-weight: 501;
    font-family: 'Jost';
}

.info .box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin: 5vh auto;
}

.info .col-3{
    font-weight: 601;
    white-space: nowrap;
}

.info .col-9{
    font-weight: 501;
}

@media screen  and (max-width: 900px) {
    .info .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: .25rem;
        margin: 5vh auto;
    }
    
}